<div class="smaller">
    <strong>{{ site.data.series[page.series].title }} series</strong>

    {{ site.data.series[page.series].announcement|markdownify }}

    <div>{{ site.data.series[page.series].contents_title }}</div>
    <ul>
        {% assign series_current_article_found = false %}
        {% assign series_next_article = null %}
        {% assign normalized_path = page.path | replace: "_drafts", "" | replace: "_posts", "" | replace: ".markdown", "" | replace: ".md", "" %}
        {% capture sources_path %}series/sources{{ normalized_path }}{% endcapture %}
        {% capture images_path %}/assets/img{{ normalized_path }}{% endcapture %}

        {% for post in site.posts reversed %}
            {% if post.series == page.series %}
                {% if post.subtitle == page.subtitle %}
                    <li>{{ post.goal }} &larr; this article</li>
                    {% assign series_current_article_found = true %}
                {% else %}
                    <li><a href="{{ post.url | relative_url }}">{{ post.goal }}</a></li>
                    {% if series_current_article_found == true && series_next_article == null %}
                        {% assign series_next_article = post %}
                        {% assign series_current_article_found = false %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>

    {{ site.data.series[page.series].goal | markdownify }}
</div>
